MONOFACT_ENV=homo
MONOFACT_CUIT=20123456789
MONOFACT_PTO_VTA=2
MONOFACT_TIPO_COMP_FACTURA_C=11
MONOFACT_TOKEN=
MONOFACT_SIGN=
MONOFACT_DB_PATH=./monofact.db
MONOFACT_CACHE_DIR=./cache
MONOFACT_PYAFIPWS_DIR=../pyafipws
MONOFACT_WSFE_HOMO=https://wswhomo.afip.gov.ar/wsfev1/service.asmx?WSDL
MONOFACT_WSFE_PROD=https://servicios1.afip.gov.ar/wsfev1/service.asmx?WSDL
